.dashNav {
  border-bottom: 1px solid #dee2e6;
}

.savedCard {
  text-align: center;
}

.visitedCard {
  text-align: center;
}

.userCard {
  
}

.nav-item {
  background-color: #90be6dc2;
  border-radius: 2px;
  color: #144552fc !important;
  font-family: 'Raleway', sans-serif;
  
}

#nav-pills, .nav-link.active{
  background: #fff !important;
  font-weight: bold;
  border-radius: 2px;
}

a {
  color: aliceblue;
}

a:hover {
  border-radius: 2px;
  border: 1px #144552ac;
  color: aliceblue;
}