.dashNav {
  border-bottom: 1px solid #dee2e6;
}

.savedCard {
  text-align: center;
  overflow-y: auto;
    max-height: 500px;
}

.visitedCard {
  text-align: center;
  overflow-y: auto;
    max-height: 500px;
}

.nav-item {
  background-color: #9aa86cbb;
  border-radius: 2px;
  color: #144552fc !important;
  font-family: 'Raleway', sans-serif;
}

#nav-pills, .nav-link.active{
  background: #fff !important;
  color: #144552fc !important;
  font-weight: 600;
  border-radius: 2px;
}

a {
  color: #144552fc;
}

a.nav-link:hover {
  color: aliceblue;
  text-decoration: none !important;
}

a.nav-link.active:hover {
  border: 1px #fff !important;
}

.card-body {
  font-family: 'Raleway', sans-serif;
}

.removeBtn {
  margin-top: 5%;
}

.imageTd {
  padding: 0 !important;
}

.dashboardImage {
  border-radius: 10px;
  padding: 0;
  margin: 3%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 5%;
}
