[class^="number-slide"],
[class*=" number-slide"] {
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 15px;
  height: auto;
  border-radius: 20px;
  overflow-y: auto;
  max-height: 800px;
  padding: 2%;
}

.keen-slider {
  border-radius: 20px;
}

.navigation-wrapper {
  position: relative;
  height: 25%;
  width: 90%;
  margin-left: 5%;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c1d387de;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: rgba(20, 69, 82, 0.675);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: rgba(20, 69, 82, 0.675);
  cursor: pointer;
}

.arrow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}