.descriptionContainer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 2%;
  text-align: left;
  border-radius: 10px;
  padding: 2%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.descriptionImage {
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

.natParksButton {
  height: "20px";
  width: "70px";
  text-align: "center";
  font-size: 10px;
  font-weight: bold;
}