.descriptionContainer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 2%;
  text-align: left;
  border-radius: 10px;
  padding: 2%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.descriptionImage {
  border-radius: 10px;
  padding: 1%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-size: 100%;
  height: 150px;
  margin-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}

.descriptionTitle {
  font-family: Impact, Charcoal, sans-serif;
  font-weight: bold;
  font-size: x-large;
  
}

.info-box {
  width: 85%;
}


.natParksButton {
  border: none;
  width: auto;
  background: #c1d387de;
  justify-content: right;
  text-align: "center";
  border-radius: 4px;
  font-weight: 400;
  color: #144552ac;
  font-size: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.natParksButtonDiv {
  display: flex;
  justify-content: right;
}

.natParksButton:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.658);
 }