.bgImage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url(./backgroundImage.png);
  height: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  background-position: center center;
  background-size: 98%;
  margin-top: 35px;
}