.navbarDiv {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
 
}

.row {
  margin: 0;
  overflow: hidden;
}

#navbarRow {
  border-bottom: 2px solid  #dee2e6;
  height: 8vh;
  display: flex;
  color: #144552;
}

.col {
  text-align: right;
  padding: 0;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: #144552;
  font-weight: 300;
}

a {
  text-decoration: none !important;
}

a.nav-link:hover {
  text-decoration: underline !important;
}