.navbarDiv {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: #144552;
}

.row {
  margin: 0;
  padding-right: 10px;;
}

#navbarRow {
  border-bottom: 2px solid  #dee2e6;
  width: 100vw;
  height: 8vh;
  padding: 0%;
  display: flex;
  padding-right: 15px;
  color: #144552;
}

.col {
  text-align: right;
  padding: 0;
  width: 100%;
}