.searchContainer {
  width: 80%;
  margin: auto;
  margin-top: 170px;
  margin-bottom: 281px;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  padding: 2%;
  background-color: rgba(182, 182, 182, 0.527);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.searchBar {
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  width: 400px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 480;
}

#searchBtn {
  background-color: #144552fc;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif;
}

#searchBtn:hover {
  background-color: #144552c2;
}